<div class="container">
    <h1>Contact Us</h1>
    
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          
            
          
          <div class="card-body">
            <p class="developer-name">Titus Goh</p>
            <p>Email: tgoh&#64;seattleu.edu</p>
            <!--<p>LinkedIn: <a href="https://linkedin.com/in/" target="_blank"></a></p> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          
            
          
          <div class="card-body">
            <p class="developer-name">Dee Lee</p>
            <p>Email: dlee6&#64;seattleu.edu</p>
            <!--<p>LinkedIn: <a href="https://linkedin.com/in/" target="_blank"></a></p> -->
            
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          
          
          <div class="card-body">
            <p class="developer-name">Sean Li</p>
            <p>Email: lisean&#64;seattleu.edu</p>
            <!--<p>LinkedIn: <a href="https://linkedin.com/in/" target="_blank"></a></p> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          
          
          <div class="card-body">
            <p class="developer-name">Wesley Wong</p>
            <p>Email: wwong&#64;seattleu.edu</p>
            <!--<p>LinkedIn: <a href="https://linkedin.com/in/" target="_blank"></a></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  