<div class="full-screen-container">
	<div class="row justify-content-center">
		<div class="col-12">
			<div class="home-container">
				<!-- Set margin-top to 0 -->
				<button type="button" [routerLink]="['/view']" class="capsules-button button">View Capsules</button>
				<button type="button" [routerLink]="['/create']" class="new-button button">New Capsule</button>
				<button type="button" [routerLink]="['/openCapsulePage']" class="open-button button">Opened Capsules</button>
			</div>
		</div>
	</div>
</div>
