<div class="container mt-5">
	<div id="home">
	  <div class="row">
		<!-- Blank Template -->
		<div class="col-md-6">
		  <div class="grid-item panel panel-default text-center clickable" (click)="navigateToCreateCapsule()" style="margin-bottom: 20px;">
			<img src="app/createTemplate/TempPhotos/blankPage.png" alt="Logo Sheet" class="img-responsive center-block" style="height: 200px;">
			<h3 class="panel-heading">Blank</h3>
		  </div>
		</div>
  
		<!-- Pic with Caption Template -->
		<div class="col-md-6">
		  <div class="grid-item panel panel-default text-center" style="margin-bottom: 20px;">
			<img src="app/createTemplate/TempPhotos/cameraPhoto.jpg" alt="Logo Camera" class="img-responsive center-block" style="height: 200px;">
			<h3 class="panel-heading">Picture With Caption</h3>
		  </div>
		</div>
	  </div>
	  <div class="row">
		<!-- Slideshow Template -->
		<div class="col-md-6">
		  <div class="grid-item panel panel-default text-center" style="margin-bottom: 20px;">
			<img src="app/createTemplate/TempPhotos/slideshowPhoto.jpg" alt="Logo Slideshow" class="img-responsive center-block" style="height: 200px;">
			<h3 class="panel-heading">Slideshow</h3>
		  </div>
		</div>
  
		<!-- Copy Template -->
		<div class="col-md-6">
		  <div class="grid-item panel panel-default text-center" style="margin-bottom: 20px;">
			<img src="app/createTemplate/TempPhotos/copyPhoto.png" alt="Logo Copy" class="img-responsive center-block" style="height: 200px;">
			<h3 class="panel-heading">Copy From Capsule</h3>
		  </div>
		</div>
	  </div>
	</div>
  </div>